{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
    <h1>Produits</h1>

    <div class="card">
        <img src= {{ asset('uploads/' ~ produit.imageFilename )}} width="100%" />
        <div class="card-body">
            <h5 class="card-title">{{ produit.nom }}</h5>
            <p class="card-text">{{ produit.description }}</p>
            <p class="card-text">{{ produit.prix }} euros</p>
            <a href="{{ path('catalogue_index') }}" class="btn btn-primary">Retour au catalogue</a>
        </div>
    </div>

{% endblock %}
